<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Indirizzo" %><br />
    <%= f.text_field :address %>
  </div>

    <div class="field">
      <%= f.label "Città" %><br />
      <%= f.text_field :city %>
    </div>
  <div class="field">
    <%= f.label "Descrizione" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
